html, body {
  font-size: 12.5px;
  scroll-behavior: smooth;
}

#app {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5em;
}

.title {
  font-size: 1.45em;
  font-weight: bold;
  letter-spacing: 1.25;
  text-transform: uppercase;
  font-family: sans-serif;
}

.option-container {
  margin-bottom: 0.75em;
}

table, tr, td {
  position: relative;
}

.visited {
  background-color: orange;
  background-clip: padding-box; /* for firefox */
}

.command-container {
  /* margin-bottom: 1.85em; */
}

.pulsing-cell {
  height: 0.75em;
  width: 0.75em;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 0.5s;
  -moz-animation-name: pulse 0.5s;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1.05);
		box-shadow: 0 0 0 0.6em rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.game-mode-status-container {
  text-align: center;
  margin: 0.95em 0;
}

#game_mode_on_indicator {
  visibility: hidden;
}

#table_container {
  margin-bottom: 2.5em;
}

#log {
  height: 12.5em;
  resize: none;
  overflow-y: auto;

  border: 1px solid grey;
}

#log:hover  {
  cursor:not-allowed;
}

.fixed-width-1 {
  width: 5.81em;
}

.log-line:hover {
  background-color: #ddd;
}

.selected-cell {
  background: #2565AE !important;
}
